@model List<BakeryProject.MediatorDesignPattern.Results.HelpSupport.GetAllHelpSupportQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>

            <th>Resim</th>
            <th>Resim Linki</th>
            <th>Başlık</th>
            <th>İsim</th>
            <th>Açıklama</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HelpSupportID</td>
                <td><img src="@item.Image" height="50px" width="50px" /></td>
                <td>@item.Image</td>
                <td>@item.HelpSupportName</td>
                <td>@item.Description</td>
                <td><a href="/HelpSupport/DeleteHelpSupport/@item.HelpSupportID" class="btn btn-danger">Sil</td>
                <td><a href="/HelpSupport/UpdateHelpSupport/@item.HelpSupportID" class="btn btn-danger">Güncelle</td>
            </tr>
        }
    </table>
    <a href="/HelpSupport/CreateHelpSupport/" class="btn btn-success">Yeni Destek Girişi</a>
</div>