@model List<BakeryProject.CQRSPattern.Results.NewProduct.GetNewProductQueryResult>
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Kalın Açıklama</th>
            <th>Resim</th>
            <th>Resim Linki</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NewProductID</td>
                <td>@item.ProductName</td>
                <td>@item.Description</td>
                <td>@item.DescriptionBold</td>
                <td><img src="@item.Image" height="50px" width="50px" /></td>
                <td>@item.Image</td>
                <td><a href="/NewProduct/DeleteNewProduct/@item.NewProductID" class="btn btn-danger">Sil</td>
                <td><a href="/NewProduct/UpdateNewProduct/@item.NewProductID" class="btn btn-danger">Güncelle</td>
            </tr>
        }
    </table>
    <a href="/NewProduct/CreateNewProduct/" class="btn btn-success">Yeni Ürün Girişi</a>
</div>